.doneIcon {
  width: 120px;
  height: 120px;
  background-image: url(../../images/doneIcon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.errorName {
  margin-top: 5vh;
}

.errorCode {
  margin-top: 20px;
  color: red;
}