.info {
  width: 32vw;
  min-width: 640px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.num {
  width: 100%;
  text-align: center;
}

.status {
  height: 34px;
  color: #00CCCC;
}

.components {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 366px;
  padding-left: 0;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #8585AD #2F2F37;
}

/* для Chrome/Edge/Safari */
.components::-webkit-scrollbar {
  width: 8px;
}

.components::-webkit-scrollbar-track {
  background: #2F2F37;
}

.components::-webkit-scrollbar-thumb {
  background-color: #2F2F37;
  border: 4px solid #8585AD;
}

.component {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fakeBorder {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #801AB2, #4C4CFF);
  border-radius: 100px;
}

.img {
  width: 60px;
  height: 60px;
  background-color: #131316;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100px;
}

.componentName {
  flex-grow: 1;
  flex-shrink: 1;
}

.priceCnt {
  display: flex;
  gap: 9px;
}

.timeCnt {
  display: flex;
  justify-content: space-between;
}

.sumCnt {
  display: flex;
  gap: 9px;
}