.main {
  width: 1280px;
  margin: auto;
  display: grid;
  grid-template-columns: 600px 600px;
  grid-row: auto auto;
  column-gap: 40px;
  justify-content: center;
}

.heading {
  grid-column-start: 1;
  grid-column-end: 3;
}