.window {
  width: 720px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1C1C21;
  border-radius: 40px;
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.windowTypeGeneral {
  background-color: #131316;
  box-shadow: none;
}

.cnt {
  width: 640px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeIcon {
  cursor: pointer;
  position: absolute;
  top: 63px;
  right: 43px;
}

.closeIcon:hover {
  opacity: .5;
}