.input {
  width: 95%;
  height: 64px;
  border-radius: 40px;
  background-color: #2F2F37;
  border: none;
}
input::-webkit-input-placeholder {
  color: #8585AD;
  opacity: 0.5;
}
input-moz-placeholder {
  color: #8585AD;
  opacity: 0.5;
}/* Firefox 19+ */
input:-moz-placeholder {
  color: #8585AD;
  opacity: 0.5;
}/* Firefox 18- */
input:-ms-input-placeholder {
  color: #8585AD;
  opacity: .5;
}
input:focus {
  outline: none;
}