.window {
  height: fit-content;
  max-height: calc(100vh - 512px);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #8585AD #2F2F37;
  display: flex;
  flex-direction: column;
  gap: 16px; 
}

/* для Chrome/Edge/Safari */
.window::-webkit-scrollbar {
  width: 8px;
}
.window::-webkit-scrollbar-track {
  background: #2F2F37;
}
.window::-webkit-scrollbar-thumb {
  background-color: #2F2F37;
  border: 4px solid #8585AD;
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 8px;
  gap: 8px;
}

.itemLocked {
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}

.total {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.sum {
  display: flex;
  align-items: center;
}
