.main {
  width: 1240px;
  margin: auto;
  display: grid;
  grid-template-columns: 600px 580px;
  grid-row: auto auto;
  column-gap: 52px;
  justify-content: center;
}

.heading {
  grid-column-start: 1;
  grid-column-end: 3;
}

.window {
  height: calc(100vh - 310px);
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #8585AD #2F2F37;
}

/* для Chrome/Edge/Safari */
.window::-webkit-scrollbar {
  width: 8px;
}
.window::-webkit-scrollbar-track {
  background: #2F2F37;
}
.window::-webkit-scrollbar-thumb {
  background-color: #2F2F37;
  border: 4px solid #8585AD;
}